<!-- BEGIN: Topbar -->
<!-- <div class="m-stack__item m-stack__item--fluid m-header-head" id="m_header_nav"> -->
<div id="m_header_topbar" class="m-topbar m-stack m-stack--ver m-stack--general">
	<div class="m-stack__item m-topbar__nav-wrapper">
		<ul class="m-topbar__nav m-nav m-nav--inline">
			<m-search-dropdown id="m_quicksearch" class="m-nav__item m-dropdown m-dropdown--large m-dropdown--arrow m-dropdown--align-center m-dropdown--mobile-full-width m-dropdown--skin-light m-list-search m-list-search--skin-light m-dropdown--skin-light"
			 m-dropdown-toggle="click" m-dropdown-persistent="1" m-quicksearch-mode="dropdown">
			</m-search-dropdown>


			<m-notification class="m-nav__item m-topbar__notifications m-topbar__notifications--img m-dropdown m-dropdown--large m-dropdown--header-bg-fill m-dropdown--arrow m-dropdown--align-center 	m-dropdown--mobile-full-width"
			 m-dropdown-toggle="click" m-dropdown-persistent="true">
			</m-notification>

			<m-quick-action class="m-nav__item m-topbar__quick-actions m-topbar__quick-actions--img m-dropdown m-dropdown--large m-dropdown--header-bg-fill m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push m-dropdown--mobile-full-width m-dropdown--skin-light"
			 m-dropdown-toggle="click">
			</m-quick-action>
			<!-- <m-language-selector></m-language-selector> -->
			<m-user-profile class="m-nav__item m-topbar__user-profile m-topbar__user-profile--img m-dropdown m-dropdown--medium m-dropdown--arrow m-dropdown--header-bg-fill m-dropdown--align-right m-dropdown--mobile-full-width m-dropdown--skin-light"
			 m-dropdown-toggle="click">
			</m-user-profile>

			<!-- TODO; if layout config quick_sidebar.display is enabled -->
			<li id="m_quick_sidebar_toggle" class="m-nav__item">
				<a href="javascript:;" class="m-nav__link m-dropdown__toggle">
					<span class="m-nav__link-icon">
						<i class="flaticon-grid-menu"></i>
					</span>
				</a>
			</li>
		</ul>
	</div>
</div>
<!-- </div> -->
<!-- END: Topbar -->
